<html>
  <head>
  
    <!-- The fully-qualified module name -->
    <meta name='gwt:module' content='org.dodgybits.progress.view.gwt.Progress'>
    
    <!-- Stylesheets are optional, but useful -->
    <link rel="stylesheet" href="gwt-styles.css">
    
    <!-- Titles are optional, but useful -->
    <title>Progress App</title>
    
  </head>
  <body>
   
    <!-- Include the bootstrap script just inside the body or in the head    -->
    <!-- (startup is slightly faster if you place it just after the body tag -->
    <script language="javascript" src="gwt.js"></script>
    
    <!-- Include a history iframe to enable full GWT history support -->
    <!-- (the id must be exactly as shown)         -->
    <iframe id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
    
  </body>
</html>